
<div class="row">
<div class="col-md-4" *ngFor="let producto of productos">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        {{producto.nombre}}
        <button class="btn btn-danger">
          <i class ="far fa-trash-alt"></i>

        </button>
      </div>
      <img [src]="producto.imagen" class="card-img-top">
      <div class="card-body">
        <p>{{producto.descripcion}}</p>
        <a href="" class="btn btn-info btn-block">
          Edit Product
        </a>
      </div>
    </div>
  </div>

</div>