<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
    <a class="navbar-brand" routerLink="/">Postgress</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active" routerLink="/productos" routerLinkActive="active"><i class="fas fa-mobile-alt"></i> Productos</a>
      <a class="nav-item nav-link" routerLink="/productos/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i> Add productos</a>
     </div>
  </div>
</div>
</nav>